* {
  /* margin: 0;
  padding: 0; */
  box-sizing: inherit;
}
html, body {
  background-color: rgb(20,13,7);
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
}

.outer-container {
  width: 50%;
  min-width: 50rem;
  margin: auto;
  text-align: center;
}

.user-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  text-align: center;
  width: 100%;
  font-family: 'Permanent Marker', cursive;
}

h1 img {
  vertical-align: middle;
}

.maze-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
  background-image: url('../assets/wall.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 0;
}

.maze {
  position: relative;
  opacity: 0.9;
}

.maze-border{
  --wall-thickness:
  position: absolute;
  top: 0;
  left:0;
  background-color: black;
  width: calc(100% + 4px);
  height: 4px;
  transform: translateY(-4px);
}

.maze-border--upper,
.maze-border--right,
.maze-border--lower,
.maze-border--left {
  position: absolute;
  background-color: black;
}

.maze-border--upper {
  top: 0;
  left: 0;
  width: calc(100% + var(--wall-thickness) * 1px);
  height: calc(var(--wall-thickness) * 1px);
  transform: translateY(calc(-1px * var(--wall-thickness)));
}

.maze-border--right {
  top: 0;
  right: 0;
  width: calc(var(--wall-thickness) * 1px);
  height: calc(100% - 1px * var(--tile-size));
  transform: translateX(calc(var(--wall-thickness) * 1px));
}

.maze-border--lower {
  bottom: 0;
  left: calc(-1px * var(--wall-thickness));
  width: calc(100% + var(--wall-thickness) * 1px);
  height: calc(var(--wall-thickness) * 1px);
  transform: translateY(calc(1px * var(--wall-thickness)));
}

.maze-border--left {
  top: calc(var(--tile-size) * 1px - 0.5px * var(--wall-thickness));
  left: 0;
  width: calc(var(--wall-thickness) * 1px);
  height: calc(100% - var(--tile-size) * 1px + var(--wall-thickness) * 0.5px);
  transform: translateX(calc(var(--wall-thickness) * -1px));
}


.tile {
  background-color: white;
  display: inline-block;
}

.user-container__button-container {
  display: flex;
  flex-direction: column;
}


.user-container__button-container__fwo:not(:last-child) {
  margin-bottom: 1rem;
}

.user-container__create-form__input,
.user-container__create-form__btn,
.user-container__button-container__fwo,
.slider-container {
  background-color: #121212;
  color: whitesmoke;
  height: 3rem;
  border-radius: 4px;
  border: 1px solid #121212;
}

.user-container__create-form__input:hover,
.user-container__create-form__btn:hover,
.user-container__button-container__fwo:hover,
.user-container__create-form__input:focus {
  border: 1px solid #333;
}

.user-container__create-form__input:focus,
.user-container__create-form__btn:focus,
.user-container__button-container__fwo:focus {
  outline: none;
}



.user-container__create-form__btn,
.user-container__button-container__fwo {
  cursor: pointer;
}

.user-container__create-form__input {
  min-width: 10rem;
}

.startArrow,
.endArrow {
  position: absolute;
}

.startArrow {
  top: calc(0.5px * var(--tile-size));
  left: -4rem;
  color: white;
  font-size: 3rem;
  transform: translateY(-50%);
}

.endArrow {
  bottom: calc(0.5px * var(--tile-size));
  right: -4rem;
  font-size: 3rem;
}

.inProgress {
  color: #444;
}
